<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="d-inline">
      <a class="navbar-brand" href="#">
        <fa-stack>
          <fa-icon [icon]="faSquare" stackItemSize="2x"></fa-icon>
          <fa-icon [icon]="faTerminal" [styles]="{'color': 'black'}" [inverse]="true" stackItemSize="1x"></fa-icon>
        </fa-stack>
        <p><span>Argentina</span><span>programa</span></p>
      </a>
      <span class="navbar-text">
        #YoProgramo
      </span>
    </div>
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
      style="padding-top: 0.25em;">
      <ul class="nav col-12 col-lg-auto justify-content-center">
        <li class="m-1">
          <a href="https://www.facebook.com/RaamaCardoz0">
            <fa-icon [icon]="faFace" [styles]="{'color': 'whitesmoke'}" size="2x"></fa-icon>
          </a>
        </li>
        <li class="m-1">
          <a href="https://www.github.com/Raam4">
            <fa-icon [icon]="faGit" [styles]="{'color': 'whitesmoke'}" size="2x"></fa-icon>
          </a>
        </li>
        <li class="m-1">
          <a href="https://www.linkedin.com/in/ramiro-cardozo-1504">
            <fa-icon [icon]="faLink" [styles]="{'color': 'whitesmoke'}" size="2x"></fa-icon>
          </a>
        </li>
        <li>
          <button class="btn btn-success mx-2" type="button">Login</button>
        </li>
      </ul>
    </div>
  </div>
</nav>