section#about{
    background: url('../../../assets/images/notebook.jpg') center;
    background-size: cover;
}
@media (min-width: 960px) {
    section#about{
        background-attachment: fixed;
    }
}