<p-menubar [model]="items" styleClass="sideNav">
    <ng-template pTemplate="start">
        <a routerLink="/home">
            <h3>Ramiro <span class="accent">Cardozo</span></h3>
            <p-image src="assets/images/profilepic.jpg" styleClass="profile-pic" atl="Profile pic"></p-image>
        </a>
    </ng-template>
    <ng-template pTemplate="end">
        <ul id="social-icons">
            <li class="social-icon">
                <a class="p-menuitem-link" href="https://www.linkedin.com/in/ramiro-cardozo-1504/"><i class="pi pi-linkedin"></i></a>
            </li>
            <li class="social-icon">
                <a class="p-menuitem-link" href="https://github.com/Raam4"><i class="pi pi-github"></i></a>
            </li>
            <li class="social-icon">
                <a class="p-menuitem-link" href="https://wa.me/542995863776"><i class="pi pi-whatsapp"></i></a>
            </li>
            <li class="social-icon">
                <a class="p-menuitem-link" href="mailto:ramiro_cardozo22@hotmail.com"><i class="pi pi-envelope"></i></a>
            </li>
        </ul>
        <p-button *ngIf="!isLogged" label="Login" icon="pi pi-sign-in" routerLink="/login"></p-button>
        <p-button *ngIf="isLogged" label="Logout" icon="pi pi-sign-out" (onClick)="logOut()"></p-button>
    </ng-template>
</p-menubar>