#project{
    background: url('../../../assets/images/mockup2.jpg') center;
    background-size: cover;
}
#car-content{
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
}
.p-chip.custom-chip {
    background: var(--primary-color);
    color: var(--primary-color-text);
}
.p-card-content a:any-link{
    text-decoration: none;
}
@media (min-width: 960px) {
    #project{
        background-attachment: fixed;
    }
    .p-carousel{
        max-width: 720px;
    }
}
@media (max-width: 960px){
    .p-carousel{
        max-width: 600px;
    }
}
@media (max-width: 720px){
    .p-carousel{
        max-width: 500px;
    }
}
@media (max-width: 590px){
    .p-carousel{
        max-width: 400px;
    }
}
@media (max-width: 450px){
    .p-carousel{
        max-width: 300px;
    }
}