<ng-container [formGroup]="form">
    <label [attr.for]="field.key" *ngIf="field.key != 'id'">{{field.label}}</label>
    <ng-container [ngSwitch]="field.controlType">
      
      <p-inputNumber *ngSwitchCase="'number' && field.key != 'id'"  class="inputfield w-full" [formControlName]="field.key" [id]="field.key"
      [attr.aria-described-by]="field.key+'-help'"></p-inputNumber>
      
      <input *ngSwitchCase="'text'" class="inputfield w-full" [formControlName]="field.key" [id]="field.key"
      [attr.aria-described-by]="field.key+'-help'" [type]="field.type" pInputText>

      <textarea *ngSwitchCase="'textbox'" class="inputfield w-full" [formControlName]="field.key" [id]="field.key"
      [attr.aria-described-by]="field.key+'-help'" style="resize:none; height: 200px;" pInputTextarea></textarea>

      <p-calendar *ngSwitchCase="'date'" class="inputfield w-full" [formControlName]="field.key" [id]="field.key"
      view="month" dateFormat="mm/yy" [attr.aria-described-by]="field.key+'-help'"></p-calendar>

    </ng-container>
    <small [id]="field.key+'-help'" class="p-error" *ngIf="isDirty && !isValid">{{field.label}} is required</small>
</ng-container>