<section id="home">
    <div class="content" *ngIf="$person | async as person; else noPer">
        <h1 class="home-name">
            {{person.firstName}}
            <span class="accent">{{person.lastName}}</span>
        </h1>
        <div class="subheading">
            <span class="accent">{{person.title}}</span> from {{person.location}}.
            <p-button *ngIf="isLogged()" type="button" icon="pi pi-pencil" (click)="editInfo(person)"></p-button>
        </div>
        <div class="my-5">
            <p-fieldset styleClass="fieldset-box" [toggleable]="true" [collapsed]="true" [style]="{'max-width':'75%'}">
                <ng-template pTemplate="header"><h3 class="accent fieldset-header">About me</h3></ng-template>
                    {{person.about}}
            </p-fieldset>
        </div>
    </div>
    <ng-template #noPer>
        <p-progressSpinner styleClass="custom-spinner" strokeWidth="4" fill="var(--surface-d)"></p-progressSpinner>
        <h1 class="accent">Loading...</h1>
    </ng-template>
</section>