.avatar {
    position: relative;
    top: -75px;
    margin-bottom: -75px;
    margin-left: 15px;
}

.avatar img {
    width: 150px;
    height: 150px;
    max-width: 150px;
    max-height: 150px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}