<div class="card">
  <img class="card-img-top" src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp" height="250px">
    <div class="avatar">
      <img src="../../../assets/profilepic.jpg" alt="">
    </div>
  <div class="card-body">
    <div class="row">
    <div class="col-md-2">
      <h5 class="card-title">{{portfolioData.nombre}} {{portfolioData.apellido}}</h5>
      <p class="card-text">
        {{portfolioData.titulo}}
        <br>
        {{portfolioData.ubicacion.ciudad}}, {{portfolioData.ubicacion.provincia}}, {{portfolioData.ubicacion.pais}} (+ Info)
      </p>
      <button class="btn btn-danger mb-2">Más</button>
    </div>
    <div class="col-md-10">
      <h5 class="card-title">Sobre mi</h5>
      <p>{{portfolioData.resumen}}</p>
    </div>
  </div>
</div>
</div>
<br>