<section id="education">
    <div class="content">
        <p-fieldset styleClass="fieldset-box">
            <ng-template pTemplate="header"><h1 class="accent fieldset-header">Education</h1></ng-template>
            <p-timeline [value]="titles" align="alternate" styleClass="customized-timeline">
                <ng-template pTemplate="content" let-title>
                    <p-card [header]="title.title" [subheader]="title.level" [style]="{'min-width':'250px'}">
                        <span class="accent">{{title.establishment}}</span>
                        <p>{{title.description}}</p>
                        <span class="accent">{{title.year}}</span>
                    </p-card>
                </ng-template>
            </p-timeline>
        </p-fieldset>
    </div>
</section>