<section id="education">
    <div class="content">
        <div class="content-heading">
            <h1 class="accent">Education</h1>
            <p-timeline [value]="events" align="alternate" styleClass="customized-timeline" [style]="{'margin-top': '5rem'}">
                <ng-template pTemplate="content" let-event>
                    <p-card [header]="event.title" [subheader]="event.level">
                        <span class="accent">{{event.establishment}}</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
                            quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
                        </p>
                        <span class="accent">{{event.year}}</span>
                    </p-card>
                </ng-template>
            </p-timeline>
        </div>
    </div>
</section>