<section id="skills">
    <div class="content">
        <p-fieldset styleClass="fieldset-box">
            <ng-template pTemplate="header"><h1 class="accent fieldset-header">Skills</h1></ng-template>
            <p-divider align="left">
                <h4 class="accent">Soft Skills</h4>
            </p-divider>
            <div id="soft-skills">
                <p-chip label="Skill 1" icon="pi pi-check" class="soft"></p-chip>
                <p-chip label="Skill 1" icon="pi pi-check" class="soft"></p-chip>
                <p-chip label="Skill 1" icon="pi pi-check" class="soft"></p-chip>
                <p-chip label="Skill 1" icon="pi pi-check" class="soft"></p-chip>
                <p-chip label="Skill 1" icon="pi pi-check" class="soft"></p-chip>
            </div>
            <p-divider align="right">
                <h4 class="accent">Tech knowledge</h4>
            </p-divider>
            <ul>
                <li>
                    Some other shit
                </li>
            </ul>
        </p-fieldset>
    </div>
</section>