<section id="skills">
    <div class="content">
        <p-fieldset styleClass="fieldset-box-skills">
            <ng-template pTemplate="header"><h1 class="accent fieldset-header">Skills</h1></ng-template>
            <p-divider align="left">
                <h4 class="accent">Soft Skills</h4>
            </p-divider>
            <div class="skill-items">
                <p-chip label="Skill 1" icon="pi pi-check" class="soft"></p-chip>
                <p-chip label="Skill 1" icon="pi pi-check" class="soft"></p-chip>
                <p-chip label="Skill 1" icon="pi pi-check" class="soft"></p-chip>
                <p-chip label="Skill 1" icon="pi pi-check" class="soft"></p-chip>
                <p-chip label="Skill 1" icon="pi pi-check" class="soft"></p-chip>
            </div>
            <p-divider align="right">
                <h4 class="accent">Tech knowledge</h4>
            </p-divider>
            <div class="skill-items">
                <a href="#"><img src="../../../assets/images/logos/html-5.svg" class="tech-logo"></a>
                <a href="#"><img src="../../../assets/images/logos/css-3.svg" class="tech-logo"></a>
                <a href="#"><img src="../../../assets/images/logos/javascript.svg" class="tech-logo"></a>
                <a href="#"><img src="../../../assets/images/logos/python.svg" class="tech-logo"></a>
                <a href="#"><img src="../../../assets/images/logos/php.svg" class="tech-logo"></a>
                <a href="#"><img src="../../../assets/images/logos/java.svg" class="tech-logo"></a>
                <a href="#"><img src="../../../assets/images/logos/angular-icon.svg" class="tech-logo"></a>
                <a href="#"><img src="../../../assets/images/logos/spring-icon.svg" class="tech-logo"></a>
                <a href="#"><img src="../../../assets/images/logos/mysql-icon.svg" class="tech-logo"></a>
                <a href="#"><img src="../../../assets/images/logos/sqlite.svg" class="tech-logo"></a>
                <a href="#"><img src="../../../assets/images/logos/postman-icon.svg" class="tech-logo"></a>
            </div>
        </p-fieldset>
    </div>
</section>