<section id="experience">
    <div class="content">
        <p-panel styleClass="exp-panel">
            <ng-template pTemplate="header">
                <h2>Casa Ferracioli S.A.</h2><img src="assets/images/ferracioli-logo.gif" class="ferracioli-logo">
            </ng-template>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam odio porro modi laborum, eius suscipit? Quod cumque numquam architecto officiis, ullam omnis libero eum praesentium inventore alias. Similique, pariatur animi?</p>
            <ng-template pTemplate="footer">
                <span class="accent">June 2019 - Present</span>
            </ng-template>
        </p-panel>
        <p-panel styleClass="exp-panel">
            <ng-template pTemplate="header">
                <h2>Betel Tu Estilo Neuquén</h2>
            </ng-template>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi in fugiat voluptates quaerat. Deserunt dignissimos ullam tenetur libero culpa? Enim rem expedita dignissimos atque voluptatibus temporibus odio ab magnam totam!</p>
            <ng-template pTemplate="footer">
                <span class="accent">December 2017 - Present</span>
            </ng-template>
        </p-panel>
    </div>
</section>