<section id="experience">
    <div class="content">
        <p-fieldset styleClass="fieldset-box">
            <ng-template pTemplate="header"><h1 class="accent fieldset-header">Experience</h1></ng-template>
            <p-panel styleClass="exp-panel" *ngFor="let job of jobs">
                <ng-template pTemplate="header">
                    <h2 class="exp-panel-header accent">{{job.place}}</h2><img src={{job.logo}} class={{job.logoClass}}>
                </ng-template>
                <span class="position">{{job.position}}</span>
                <p>{{job.description}}</p>
                <ng-template pTemplate="footer">
                    <span class="accent">{{job.placeTime}}</span>
                </ng-template>
            </p-panel>
        </p-fieldset>
    </div>
</section>