#experience{
    background: url('../../../assets/images/keyboard2.jpg') center;
    background-size: cover;
}
.exp-panel{
    margin: 1.5rem;
}
.exp-panel-header{
    margin: 0;
}
.position{
    color: var(--text-color-secondary);
}
.ferracioli-logo{
    width: 123.5px;
    height: 25.25px;
}
.betel-logo{
    width: 90px ;
    height: 44px;
}
.p-panel-footer{
    text-align: end;
}
@media (min-width: 960px) {
    #experience{
        background-attachment: fixed;
    }
}