<section id="about">
    <div class="content">
        <p-fieldset styleClass="fieldset-box">
            <ng-template pTemplate="header"><h1 class="accent fieldset-header">About</h1></ng-template>
            <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste exercitationem beatae optio quaerat enim voluptates voluptas omnis tenetur. Vero et libero delectus accusantium quos obcaecati blanditiis distinctio molestiae, aspernatur iusto?
            </p>
        </p-fieldset>
    </div>
</section>