<section id="about">
    <div class="content">
        <p-fieldset styleClass="about-box">
            <ng-template pTemplate="header"><h3 class="accent about-header">About</h3></ng-template>
            <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste exercitationem beatae optio quaerat enim voluptates voluptas omnis tenetur. Vero et libero delectus accusantium quos obcaecati blanditiis distinctio molestiae, aspernatur iusto?
            </p>
        </p-fieldset>
    </div>
</section>