<section id="about">
    <div class="content">
        <p-fieldset styleClass="fieldset-box">
            <ng-template pTemplate="header"><h1 class="accent fieldset-header">About</h1></ng-template>
            <p>
                I'm a person who's passionate about IT in general, but since I started discovering the world of web development about 2 years ago, I knew that I had to be part of it.
                I love creating everything from user interaction to the logic behind each project.
                I consider myself a person with ease to learn, always willing to solve problems and oriented to logical thinking.
                I know that in a short time and with a clear goal, I'm capable of creating or helping to create wonderful things.
                This portfolio is the first one I've made, it started in the framework of the Argentina Program course, it's made with Angular and the PrimeNG library in the frontend, and Java with SpringBoot in the backend, it also uses MySQL as the engine database and JWT for manage security.
            </p>
        </p-fieldset>
    </div>
</section>