<section id="login">
    <div class="content">
        <p-fieldset styleClass="fieldset-box">
            <ng-template pTemplate="header">
                <h1 class="accent fieldset-header">
                    Access to Portfolio
                </h1>
            </ng-template>
            <div class="card">
                <div class="grid">
                    <div class="col-5 flex align-items-center justify-content-center">
                        <div class="p-fluid">
                            <h1 class="accent text-center text-4xl">Login</h1>
                            <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                                <div class="field">
                                    <label for="username">Username</label>
                                    <input pInputText id="username" name="username" type="text" formControlName="username" />
                                </div>
                                <div class="field">
                                    <label for="password">Password</label>
                                    <input pInputText id="password" name="password" type="password" formControlName="password" />
                                </div>
                                <p-button label="Login" icon="pi pi-sign-in" [disabled]="!loginForm.valid" type="submit"></p-button>
                            </form>
                        </div>
                    </div>
                    <div class="col-2">
                        <p-divider layout="vertical">
                            <b>OR</b>
                        </p-divider>
                    </div>
                    <div class="col-5 flex align-items-center justify-content-center">
                        <div class="p-fluid">
                            <h1 class="accent text-center text-4xl">Sign up</h1>
                            <form [formGroup]="signinForm" (ngSubmit)="onSignin()">
                                <div class="field">
                                    <label for="email">Email</label>
                                    <input pInputText id="email" name="email" type="email" formControlName="email" />
                                </div>
                                <div class="field">
                                    <label for="newUsername">Username</label>
                                    <input pInputText id="signUsername" name="signUsername" formControlName="signUsername" />
                                </div>
                                <div class="field">
                                    <label for="newPassword">Password</label>
                                    <input pInputText id="signPassword" name="signPassword" type="password" formControlName="signPassword" />
                                </div>
                                <div class="field">
                                    <label for="confirmPassword">Confirm Password</label>
                                    <input pInputText id="confirmPassword" type="password" formControlName="confirmPassword" />
                                </div>
                                <p-button label="Sign Up" icon="pi pi-user-plus" [disabled]="!signinForm.valid" type="submit"></p-button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </p-fieldset>
    </div>
</section>
<p-toast position="top-left"></p-toast>