@font-face {
  font-family: 'Roboto Slab';
  src: url('assets/fonts/RobotoSlab-Variable.ttf');
  font-weight: 100 900;
  font-stretch: 25% 150%;
}

*{
  font-family: 'Roboto Slab';
}

@media (min-width: 960px) {
    body {
      padding-top: 0;
      padding-left: 17rem;
    }
    section{
      padding-bottom: 5rem;
      min-height: 100vh;
    }
    .content{
        padding-left: 5rem;
    }
}
body {
    margin: 0;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--surface-ground);
    color: var(--text-color);
    font-weight: normal;
}
section{
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 5rem;
  padding-bottom: 10rem;
}
.content{
  width: 100%;
}
.accent{
  color: var(--primary-color);
}