<section id="education">
    <div class="content">
        <p-fieldset styleClass="fieldset-box">
            <ng-template pTemplate="header"><h1 class="accent fieldset-header">Education</h1></ng-template>
            <p-timeline [value]="titles" align="alternate" styleClass="customized-timeline">
                <ng-template pTemplate="content" let-title>
                    <p-card [header]="title.title" [subheader]="title.degree" [style]="{'min-width':'250px'}">
                        <span class="accent">{{title.institution}}</span>
                        <p>{{title.description}}</p>
                        <span class="accent">
                            {{title.location}} / 
                            {{title.dateStart}}
                        <div *ngIf="title.dateEnd != null; then dateEnd else present"></div>
                        <ng-template #dateEnd> to {{title.dateEnd}}</ng-template>
                        <ng-template #present> to Present</ng-template>
                        </span>
                    </p-card>
                </ng-template>
            </p-timeline>
        </p-fieldset>
    </div>
</section>