/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: encode;
    src: url(assets/fonts/EncodeSans.ttf) format("opentype");
}

* {
    font-family: 'encode', sans-serif;
}