<section id="skills">
    <div class="content" *ngIf="$skills | async as skills; else noSkill">
        <p-fieldset styleClass="fieldset-box-skills" [style]="{'max-width':'800px'}">
            <ng-template pTemplate="header">
                <h1 class="accent fieldset-header">
                    Skills
                </h1>
            </ng-template>
            <p-divider align="center">
                <div class="inline-flex align-items-center">
                    <h3 class="accent">
                        Soft Skills
                    </h3>
                    <p-button *ngIf="isLogged()" class="m-1" type="button" icon="pi pi-plus" (click)="newSkill('soft')"></p-button>
                </div>
            </p-divider>
            <div class="skill-items">
                <ng-container *ngFor="let skill of skills">
                    <p-chip *ngIf="skill.type == 'soft'" [label]='skill.name' [icon]='skill.imgUrl'
                    class="soft" [removable]="isLogged()" (onRemove)="deleteSkill(skill.id, null)"></p-chip>
                </ng-container>
            </div>
            <p-divider align="center">
                <div class="inline-flex align-items-center">
                    <h3 class="accent">
                        Frontend
                    </h3>
                    <p-button *ngIf="isLogged()" class="m-1" type="button" icon="pi pi-plus" (click)="newSkill('frontend')"></p-button>
                </div>
            </p-divider>
            <div class="skill-items">
                <ng-container *ngFor="let skill of skills">
                    <p-image *ngIf="skill.type == 'front'" [src]='skill.imgUrl' [pTooltip]='skill.name'
                    tooltipPosition="bottom" [preview]="isLogged()" (onShow)="deleteSkill(skill.id, skill.name)">
                        <ng-template pTemplate="indicator">
                            <i class="pi pi-trash"></i>
                        </ng-template>
                    </p-image>
                </ng-container>
            </div>
            <p-divider align="center">
                <div class="inline-flex align-items-center">
                    <h3 class="accent">
                        Backend
                    </h3>
                    <p-button *ngIf="isLogged()" class="m-1" type="button" icon="pi pi-plus" (click)="newSkill('backend')"></p-button>
                </div>
            </p-divider>
            <div class="skill-items">
                <ng-container *ngFor="let skill of skills">
                    <p-image *ngIf="skill.type == 'back'" [src]='skill.imgUrl' [pTooltip]='skill.name'
                    tooltipPosition="bottom" [preview]="isLogged()" (onShow)="deleteSkill(skill.id, skill.name)">
                    <ng-template pTemplate="indicator">
                        <i class="pi pi-trash"></i>
                    </ng-template>
                </p-image>
                </ng-container>
            </div>
            <p-divider align="center">
                <div class="inline-flex align-items-center">
                    <h3 class="accent">
                        Tools
                    </h3>
                    <p-button *ngIf="isLogged()" class="m-1" type="button" icon="pi pi-plus" (click)="newSkill('tool')"></p-button>
                </div>
            </p-divider>
            <div class="skill-items">
                <ng-container *ngFor="let skill of skills">
                    <p-image *ngIf="skill.type == 'tool'" [src]='skill.imgUrl' [pTooltip]='skill.name'
                    tooltipPosition="bottom" [preview]="isLogged()" (onShow)="deleteSkill(skill.id, skill.name)">
                    <ng-template pTemplate="indicator">
                        <i class="pi pi-trash"></i>
                    </ng-template>
                </p-image>
                </ng-container>
            </div>
        </p-fieldset>
    </div>
    <ng-template #noSkill>
        <p-progressSpinner strokeWidth="4" fill="var(--surface-d)"></p-progressSpinner>
        <h1 class="accent">Loading...</h1>
    </ng-template>
</section>
<p-toast key="ski"></p-toast>