<section id="skills">
    <div class="content">
        <p-fieldset styleClass="fieldset-box-skills" [style]="{'max-width':'800px'}">
            <ng-template pTemplate="header"><h1 class="accent fieldset-header">Skills</h1></ng-template>
            <p-divider align="center">
                <h4 class="accent">Soft Skills</h4>
            </p-divider>
            <div class="skill-items">
                <ng-container *ngFor="let skill of skills">
                    <p-chip *ngIf="skill.type == 'soft'" label={{skill.name}} icon={{skill.icon}} class="soft"></p-chip>
                </ng-container>
            </div>
            <p-divider align="center">
                <h4 class="accent">Frontend</h4>
            </p-divider>
            <div class="skill-items">
                <ng-container *ngFor="let skill of skills">
                    <p-image *ngIf="skill.type == 'frontend'" src='assets/images/logos/{{skill.icon}}' pTooltip={{skill.name}} tooltipPosition="bottom"></p-image>
                </ng-container>
            </div>
            <p-divider align="center">
                <h4 class="accent">Backend</h4>
            </p-divider>
            <div class="skill-items">
                <ng-container *ngFor="let skill of skills">
                    <p-image *ngIf="skill.type == 'backend'" src='assets/images/logos/{{skill.icon}}' pTooltip={{skill.name}} tooltipPosition="bottom"></p-image>
                </ng-container>
            </div>
            <p-divider align="center">
                <h4 class="accent">Tools</h4>
            </p-divider>
            <div class="skill-items">
                <ng-container *ngFor="let skill of skills">
                    <p-image *ngIf="skill.type == 'tool'" src='assets/images/logos/{{skill.icon}}' pTooltip={{skill.name}} tooltipPosition="bottom"></p-image>
                </ng-container>
            </div>
        </p-fieldset>
    </div>
</section>