<div class="card">
    <div class="card-header">
        <h5 class="card-title">Edu&Exp</h5>
    </div>
    <div class="card-body">
        <h5 class="card-title">
            Educación
        </h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque atque ratione quia harum! Animi odio tempora dignissimos 
        deserunt quae aut soluta rem recusandae! Possimus, sit recusandae. Sapiente incidunt in porro!
        </p>
        <h5 class="card-title">
            Educación
        </h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque atque ratione quia harum! Animi odio tempora dignissimos 
        deserunt quae aut soluta rem recusandae! Possimus, sit recusandae. Sapiente incidunt in porro!
        </p>
        <h5 class="card-title">
            Educación
        </h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque atque ratione quia harum! Animi odio tempora dignissimos 
        deserunt quae aut soluta rem recusandae! Possimus, sit recusandae. Sapiente incidunt in porro!
        </p>
    </div>
</div>
<br>