<div class="card">
    <div class="card-header">
        <h5 class="card-title">Skills</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <p><ngb-progressbar type="success" [value]="25">Skill 1</ngb-progressbar></p>
            </div>
            <div class="col-md-4">
                <p><ngb-progressbar type="success" [value]="25">Skill 1</ngb-progressbar></p>
            </div>
            <div class="col-md-4">
                <p><ngb-progressbar type="success" [value]="25" [striped]="true">Skill 1</ngb-progressbar></p>
            </div>
            <div class="col-md-4">
                <p><ngb-progressbar type="success" [value]="25">Skill 1</ngb-progressbar></p>
            </div>
            <div class="col-md-4">
                <p><ngb-progressbar type="success" [value]="25">Skill 1</ngb-progressbar></p>
            </div>
            <div class="col-md-4">
                <p><ngb-progressbar type="success" [value]="25">Skill 1</ngb-progressbar></p>
            </div>
        </div>
    </div>
</div>
<br>