<section id="experience">
    <div class="content" *ngIf="$exp | async as jobs; else noExp">
        <p-fieldset styleClass="fieldset-box">
            <ng-template pTemplate="header">
                <h1 class="accent fieldset-header">
                    Experience
                    <p-button *ngIf="isLogged()" type="button" icon="pi pi-plus" (click)="newExperience()"></p-button>
                </h1>
            </ng-template>
            <p-panel styleClass="exp-panel" *ngFor="let job of jobs">
                <ng-template pTemplate="header">
                    <h2 class="exp-panel-header accent">
                        {{job.company}}
                        <ng-container *ngIf="isLogged()">
                            <p-button type="button" icon="pi pi-pencil" class="mx-1" (click)="editInfo(job)"></p-button>
                            <p-button type="button" icon="pi pi-times" class="mx-1" (click)="deleteExperience(job.id)"></p-button>
                        </ng-container>
                    </h2>
                    <img *ngIf="job.imgUrl != null" class="flex justify-content-end" [src]="job.imgUrl">
                </ng-template>
                <span class="position">{{job.position}}</span>
                <p>{{job.description}}</p>
                <ng-template pTemplate="footer">
                    <span class="accent">{{job.location}} | {{job.dateStart}}</span>
                    <div *ngIf="job.dateEnd != null; then dateEnd else present"></div>
                    <ng-template #dateEnd><span class="accent"> / {{job.dateEnd}}</span></ng-template>
                    <ng-template #present><span class="accent"> / Present</span></ng-template>
                </ng-template>
            </p-panel>
        </p-fieldset>
    </div>
    <ng-template #noExp>
        <p-progressSpinner strokeWidth="4" fill="var(--surface-d)"></p-progressSpinner>
        <h1 class="accent">Loading...</h1>
    </ng-template>
</section>
<p-toast key="xp" (onClose)="toastClose()"></p-toast>